/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-parallax {
    background-image: url('/images/home/paralax.png');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    position: relative;
}

.bg-memey {
    background: rgba(68, 75, 210, 0.2) !important;
}

.scroll-parallax11 {
    background-image: url('/images/home/paralax.png');
}

body {
    font-family: var(--font-inter);
}

@keyframes scroll-vertical-reverse {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Back scroll in Data Solution section */
.scrollbar-left {
  direction: rtl; /* This makes the scrollbar appear on the left */
}

.scrollbar-left > * {
  direction: ltr; /* Restore the content's normal direction */
}

/* Optional: Customize the scrollbar appearance */
.scrollbar-left::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scrollbar-left::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
