/* ./src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}


.max-height-percentage-table {
  max-height: 65vh;
  overflow-y: auto;
}


.overflow-x-auto {
  overflow-x: auto;
}
